@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Patua One', cursive;
}
a {
    text-decoration: none;
}

.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

nav.garis_biru {
    background-color: lightskyblue;
}

nav.garis_biru .navigasi_atas a{
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    padding: 8px;
    padding-left: 30px;
    display: inline-flex;
    justify-content: right;
}

nav.garis_biru .navigasi_atas a:hover{
    background-color:#fff;
    color: rgb(18, 175, 236);
}
nav.garis_biru .search-form{
    height: 10px;
    width:300px;
    padding: 3px;
    float: right;
    padding-left: 20px;
    display: inline-block;
}
.search{
    padding:8px 15px;
    background:#fff;
    padding:6px 15px;
    border:0px solid lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    color: dimgrey;
}
.button{
    position:relative;
    padding:4px 15px;
    left:-8px;
    border:2px solid rgb(18, 175, 236);
    background-color: rgb(18, 175, 236);
    font-family: Arial, Helvetica, sans-serif;
    color:#fafafa;
}
.button:hover{
    background-color:#fff;
    color: rgb(18, 175, 236);;
}

nav.navbar > div.container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
nav.navbar .title {
    display: flex;
    color: #2A7485;
    font-size: 17pt;
}

nav.navbar .logo img{
    margin-right: 20px;
}
nav.navbar .logo h1{
    font-family: 'Patua One', cursive;
}

nav.navbar .navigation a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 25px;
    color: #2A7485;
}

nav.navbar .navigation a:hover{
    background-color:#fff;
    color: rgb(18, 175, 236);;
}

.navigation {
    padding-top: 10px;
    padding-bottom: 10px;
}

article {
    background-image: url("buku.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 98,6%;
    height: 800px;
    padding-left: 20px;
    padding-right: 20px;
}

.gambar {
    border-radius: 100px;
    margin-top: 30px;
    margin-left: 575px;
    margin-bottom: 20px;
}

.akun_saya {
    margin-left: 565px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
}

.edit_akun {
    margin-left: 580px;
    margin-bottom: 30px;
}
.keluar {
    margin-left: 590px;
    margin-bottom: 30px;
}

.kotak{
    background: lightskyblue;
	color: white;
	font-size: 12pt;
	width: 10%;
	border: none;
    padding: 15px 35px;
    font-family: Arial, Helvetica, sans-serif;
}
.kotak:hover{
    background-color:#fff;
    color: rgb(18, 175, 236);
}

.kotak_lengkung{
    background: lightskyblue;
	color: white;
	font-size: 12pt;
	width: 10%;
	border: none;
	border-radius: 25px;
    padding: 15px 35px;
    font-family: Arial, Helvetica, sans-serif;

}

p {
    font-family: 'Patua One', cursive;
    font-size: xx-large;
    font-weight: 400;
    color: #2A7485;
    padding-top:  20px;
    text-align: center;
}

table{
    font-size: 13pt;
    margin-left: 425px;
    margin-bottom: 15px;
}

td {
    font-family: Arial, Helvetica, sans-serif;
}
 
.data {
    width: 150%;
    padding: 5px;
    font-size: 15px;
    margin-bottom: 8px;
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
